/* Responsive Web Design */

@media only screen and (max-width: 1030px) {
	header div.wrapper, section div.wrapper, footer div.wrapper {
		width: 90% !important;
	}
	
	#back-to-top {
		bottom: 1em !important;
		right: 1em !important;
	}

	#nav-main-logo {
		width: 2em !important;
	}
	
	div.company-card {
		flex: 1 0 5% !important;
	}
}

@media only screen and (max-width: 675px) {
	div.skill-wrapper {
		flex-direction: column !important;
	}

	div.company-card {
		padding: 0.8em;
	}

	div.company-card img.featured-image {
		width: 5em;
	}
}